@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Nanum+Myeongjo:wght@800&display=swap');
content {
    max-width: 1600px;
    margin:0 auto;
}
#logo_link {
    display: inline-block;
    padding-top: 5px;
    width: 80px;
    height: 80px;
}
.home-title {
    margin-top: 10px;
    color: #1d4e89;
    font-family: 'Lora';
    font-size: 2em;
}
body {
    background-color: #F79256;
    font-family: 'Nanum-Myeong';
    margin: 0;
    padding: 0;
}
header {
    background-color: #7dcfb6;
    font-family: 'Nanum-Myeong';
}
footer {
    padding: 25px 50px;
    margin-top: 200px;
    background-color: #7dcfb6;
    color: white;
    font-family: 'Nanum-Myeong';
}
footer a{
    text-decoration: none;
    font-family: 'Nanum-Myeong';
}
footer a:hover {
    color:#1d4e89;
}
footer p {
    font-size: 1.2em;
    font-family: 'Nanum-Myeong';
}
footer p a:hover {
    text-decoration: underline;
}
footer, .social img { 
    padding-top: 15px;
}
nav a {
    padding: 35px;
    text-align:center;
    color:#1d4e89;
    text-decoration: none;
    font-family: 'Nanum-Myeong';
}
nav a:hover {
    background-color: #7dcfb6;
    color: white;
    text-decoration: underline;
}
h4 {
    color:white;
    font-family:'Nanum-Myeong';
}
h2{
    margin: 0;
}
.book, .join {
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: #F79256 ;
    color: #1d4e89;
    text-decoration: none;
    font-family: 'Nanum-Myeong';
    font-size: 18px;
}
#background {
    height: 725px;
    background-color: #7dcfb6;
}
.msg {
    padding: 35px;
    background-color: #7dcfb6;
    font-family: 'Nanum-Myeong';
    line-height: 1.5em;
}
.msg h2 {
    color: white;
    font-family: 'Lora';
}
.msg p {
    padding-bottom: 15px;
    color: white;
    font-family:'Nanum-Myeong';
    font-size: .8em;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    font-family: 'Nanum-Myeong';
}

.icon {
    padding-top: 10px;
    width:80px;
    height: 80px;
}
#hero-img {
    width: 100%;
    max-width: 1600px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #7dcfb6;
}
main section img {
    box-sizing: border-box;
}

.mountains {
    margin-top: 30px;
    border: 4px;
}
.button-box {
    text-align:center;
    font-family: 'Nanum-Myeong';
}
main section {
    text-align: center;
}
.background {
    height: 725px;
}
