@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Raleway:wght@500&display=swap');
:root {
    --heading-font: "Merriweather";
    --paragraph-font: "Raleway";
    --headline-color-on-white: #003554;
    --headline-color-on-color: #F2FDFF;
    --paragraph-color-on-white: #6A8D92;
    --paragraph-color-on-color: #F2fdff;
    --paragraph-background-color: #003554;
    --nav-link-color: #A30000;
    --nav-background-color: #003554;
    --nav-hover-link-color: #A30000;
    --nav-hover-background-color: #f2fdff;
}

.logo {
    padding-top: 5px;
    width: 80px;
    height: 80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#header{
    background-color: #003554;
    display: grid;
    grid-template-columns: 1fr 3fr

}
nav {
    display: flex;
    justify-content: space-around;
    align-self: center;
}
nav a {
    padding: 35px;
    text-align:center;
    color:#A30000;
    text-decoration: underline;
    font-family: 'Merriweather';
    font-size: 1.5em;
}
nav a:hover {
    background-color: #A30000;
    color: white;
    text-decoration: underline;
}
main {
    border: 20px solid #003554;
    background-color: #6A8D92;
}
main p {
    font-size: 1.5em;
}
#describe{
    border:10px solid #003554;
    display:grid;
    justify-content: center;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 5px 5px 10px;
}
#profile {
    margin-top: 50px;
    display:grid;
    justify-content: center;
}
.pro-img {
    border: 50px solid #6A8D92;
}
#intro {
    border: 5px solid #003554;
    font-size: 1.5em;
    display:grid;
    text-align: center;
    box-shadow: 5px 5px 10px;
}
.gallery{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
}
#gallery-pic{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    margin-top: 200px;
}
.eagle, .golden, .river, .sailors, .swing-img, .bossman-img, .frog-img, .shadow-img, .titans-img{
    width: 80%;
    border: 5px solid #003554;
    box-shadow: 5px 5px 10px;
}
.eagle:hover, .golden:hover, .river:hover, .sailors:hover, .swing-img:hover,  .bossman-img:hover, .frog-img:hover, .shadow-img:hover, .titans-img:hover{
    transform: scale(1.2);
}
.malvamia, .logo2 , .btl  {
    text-align: center;
    justify-content: stretch;

}
.malvamia{
    margin-top: 50px;
}
.malva-img, .logo-img, .btl-img {
    width:100%;
    margin: 0 0;
    max-width: 300px;
    border: 5px solid #003554;
    box-shadow: 5px 5px 10px;
}
.malva-img:hover, .logo-img:hover, .btl-img:hover  {
    transform: scale(1.2);
}
footer{
    
    height: 100px;
    background-color: #003554;
    display:grid;
    grid-template-columns: 4fr 1fr;
    align-content: center;
    justify-content: space-around;
}
footer p{
    font-size: 1.2em;
    justify-self: stretch;
    padding-left: 20px;
    color:#F2FDFF;
}
footer a {
    padding: 35px;
    text-align:center;
    color:#A30000;
    text-decoration: none;
    font-family: 'Merriweather';
}
footer a:hover{
    background-color: #A30000;
    color: white;
    text-decoration: underline;  
}

@media screen and (max-width: 900px) {
    #hero,   .home-grid {
       display: block;
       height: auto;
   }
   nav, footer {
       flex-direction: column;
   }
   nav a {
       display: block;
       padding: 15px;
   }
   #hero {
       margin-top: 0;
   }
   #hero-msg {
       margin-top: 0;
   }
   #hero-msg h4 {
       display: none;
   }
   .home-title {
       font-size: 25px;
       color: #6f7364;
   }
   .eagle-flying, .golden-gate, .river-raft, .sailors-delight, .swings, .bossman, .frog, .shadow, .titans,.malvamia,.logo2,.btl { 
       margin: 50px auto;
       width: 60%;
   }
   #background {
       display: none;
   }
   .mountains, .msg {
       width: 80%;
       display: block;
       margin: 0 auto;
   }
   footer {
       margin-top: 25px;
   }
   }
